html body{
  background-color: black;
}
.title{
  color: aqua;
}
.title:hover{
color: blueviolet;
transition: 3s;
}
.app{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 40%;
  margin-top: 7%;
}
.buttons{
  display: inline-flex;
  margin-top: 3%;
 margin-left: -40px;
}
.counter{
  color: rgb(31, 203, 255);
  font-size: xx-large;
  margin-left: 70px;
  margin-top: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.counter:hover{
  color: blueviolet;
  transition: 2s;
}
.btn1{
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 5px;
  font-weight: bolder;
font-size: large;
background-color: green;
color: aliceblue;

}
.btn1:hover{
  background-color: rgb(8, 214, 214);
}
.btn1:disabled{
  background-color: grey;
}
.btn2{
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 5px;
  font-weight: bolder;
  font-size: large;
  color: white;
  background-color: rgb(191, 191, 7);
}
.btn2:hover{
  background-color: rgb(75, 77, 5);
}
.btn3{
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 5px;
background-color: red;
color: white;
font-weight: bolder;
font-size: large;
}
.btn3:hover{
  background-color: rgb(118, 2, 2);
}
@media  screen and (max-width: 550px) {
  .title{
   margin-left: -10%;
  }
  .buttons{
    margin-left: -25%;
  }
  .counter{
    margin-left: 15%;
  }
}
@media  screen and (max-width: 450px) {
  .title{
   margin-left: -10%;
  }
  .buttons{
    margin-left: -29%;
  }
  .counter{
    margin-left: 15%;
  }
}
@media  screen and (max-width: 420px) {
  .title{
   margin-left: -10%;
  }
  .buttons{
    margin-left: -27%;
  }
  .counter{
    margin-left: 17%;
  }
}
@media  screen and (max-width: 390px) {
  .title{
   margin-left: -25%;
  }
  .buttons{
    margin-left: -41%;
  }
  .counter{
    margin-left: 12%;
  }
}

@media  screen and (max-width: 330px) {
  .title{
   margin-left: -25%;
  }
  .buttons{
    margin-left: -51%;
  }
  .counter{
    margin-left: 12%;
  }
}
@media  screen and (max-width: 300px) {
 
  .counter{
    margin-left: 12%;
  }
  .buttons{
    margin-left: -99px;
  }
  .title{
    margin-left: -60px;
  }
}